<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>

  <body is="responsive-body">

    <div class="outer">
      <div class="hed">Mapping the money behind District 11 candidate Scott Wiener</div>
      <div class="chatter">Outside committees backing District 11 state Senate candidate Scott Wiener have spent more than $1.5 million in the race so far – an amount more than five times larger than what rival candidate Jane Kim has drawn. Most of that money has come from the Equality California Political Action Committee, a gay rights PAC. As of mid-October, it had spent more than any other committee in the race.

      <div class="sub-deck">The main source of funding for Equality California appears to be an unlikely ally: the California Charter Schools Association, a PAC that has donated more than $400,000. A separate branch of the association has spent close to $380,000 on ads and polling supporting Wiener, and has financially backed an anti-Kim committee that’s mostly funded by venture capitalist Ron Conway.</div>

      <div class="sub-deck">Hover over or click on the links in the chart below to follow the money.</div></div>

      <div class="legend-container">
        <div class="element"><div class="dorisfisher-swath"><div class="legend-text">Doris Fisher</div></div></div>
        <div class="element"><div class="ronconway-swath"><div class="legend-text">Ron Conway</div></div></div>
        <div class="element"><div class="charter-swath"><div class="legend-text">California Charter Schools Assoc.</div></div></div>
        <div class="element"><div class="other-swath"><div class="legend-text">Other</div></div></div>
      </div>

      <div id="node-graph"></div>

      <div class="interactive-credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        <div class="entry">Joaquin Palomino  &bull; <a href="mailto:jpalomino@sfchronicle.com">jpalomino@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/JoaquinPalomino" target="_blank">@JoaquinPalomino</a></div>
      </div>
      <div class="interactive-source">Source: <a href="http://cal-access.ss.ca.gov/Campaign/" target="_blank">California Secretary of State</div>
      <div class="interactive-source padded">Data are from Oct. 21, 2016. The California Charter Schools Association also includes spending by its sponsored committee, the Parent Teacher Alliance.</div>

    </div>

    <script>
      var campaignData = <%= JSON.stringify(csv.campaignDataJoaquin) %>;
    </script>
    <script src="http://projects.sfchronicle.com/shared/js/responsive-child.js"></script>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
